{% extends "base.html" %}
{% block content %}
      <!-- Page Heading -->
      <h1 class="my-4">Page Heading</h1>

      <div class="row">
        {% for item in leads %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <center>
              <span class="badge badge-primary">
                {{item.source}}
              </span>
              {% for tag in item.tags.all %}
                  <span class="badge badge-secondary">{{tag}}</span>
              {% endfor %}
              <hr/>
              {% load humanize %}
              {{item.created_at|timesince}} ago
            </center>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{item.source_url}}" taget="_blank">{{item.title}}</a>
              </h4>
              <p class="card-text">{{item.blurb|truncatechars:100}}</p>
              <hr/>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
{% endblock %}